<% provide(:title, "Home") %>


<div class="panel">
<h1>Welcome to AC STC</h1>
    <h2>This a sample app I,
    <a href="http://www.facebook.com/woody.delhia">Woodson Delhia</a> 
    built give me a shout.
  </h2>
<hr>

<%= link_to "Sign up now!", '#', class: "button [radius round]" %>

</div>
